.calender__wrapper {
}

.calendar__body {
    width: 240px;
    /* width: "100px"; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calender__today {
    background-color: #b8e382;
}

.calender__day {
    border: 1px solid black;

    &:hover {
        background-color: #94c1ae;
    }
}

.calender__day--selected {
    background-color: #94c1ae;
    color: white;
}
